      <div class="row">
        <div class="col-10 col-sm-10 col-md-8 col-lg-4 mx-auto">
          <form class="form-horizontal" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <div class="heading">Login</div>
            <div class="form-group">
              <i class="fa fa-user"></i>
              <input type="text" class="form-control" name="username"
                [(ngModel)]="form.username" placeholder="Username" #username="ngModel" required />
              <div *ngIf="f.submitted && username.invalid">
                <div *ngIf="username.errors.required">Username is required</div>
              </div>
            </div>
            <div class="form-group">
                <i class="fas fa-key"></i><input type="password" class="form-control" name="password"
                [(ngModel)]="form.password" #password="ngModel" required minlength="6" placeholder="Password" />
              <div *ngIf="f.submitted && password.invalid">
                <div *ngIf="password.errors.required">Password is required</div>
                <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" id="submitBtn" class="btn btn-outline-danger form-control">Log In</button>
              <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
                Login failed: {{errorMessage}}
              </div>
              <span>Don't have an account? <a href="signup" class="create_account">Sign up</a></span>
            </div>
          </form>
        </div>
      </div>