/* #container{
    width:100%;
    margin:5em auto;
    padding:0;
    background: white;
} */

.items{
    max-width:500px;
    height:300px;
    background:white;
}

#left,#right{
    margin:10px;
}